/* Common Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Form Container */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
}

/* Title */
h1 {
    margin-bottom: 20px;
    color: #333;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; /* Limit the width of the form */
}

/* Input Fields */
input, select {
    margin: 0.5rem 0;
    padding: 0.75rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Buttons */
button {
    padding: 0.75rem;
    margin: 0.5rem 0;
    background-color: #323232; /* Same green as the landing page CTA */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Button Hover Effect */
button:hover {
    background-color: #5a5a5a; /* Darker green for hover */
}

/* Role Selection Styles */
.role-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.role-selection button {
    margin: 10px;
    width: 200px; /* Fixed width for role selection buttons */
}

/* Responsive Design */
@media (max-width: 768px) {
    .form-container {
        padding: 10px;
    }

    .form-container h1 {
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}
