/* RoleSelection.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.role-selection-container {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color: #333;
}

.form-container {
    background-color: #f4f4f4;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button {
    background-color: #323232;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

@media (min-width: 768px) {
    .form-container {
        max-width: 500px;
        margin: 0 auto; /* Center the form on larger screens */
    }

    .button {
        width: calc(50% - 20px); /* Make buttons wider on larger screens */
    }
}
